html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Aldrich', sans-serif;
	font-size: 16px;
	background: #fff;
  background: url("../images/universe-invert-lg.jpg") no-repeat center center fixed;
	background-size: cover;
}

.container {
	display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 28px;
	font-weight: bold;
  color: #fff;
  text-shadow: 0 0 10px #000;
  margin: 15px 0;
	font-family: 'Special Elite', cursive;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
}

/* Styles for the Score Panel */

.score-panel {
  display: grid;
  width: 90%;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "stars moves clock"
									 "restart volume volume";
}

.stars {
	grid-area: stars;
}

.moves {
	grid-area: moves;
}

.clock {
	grid-area: clock;
	display: inline-block;
	font-size: 16px;
}

.volume-div {
	grid-area: volume;
}

.score-panel > * {
  text-align: center;
  color: #000;
  padding: 10px;
	margin: 0;
}

.stars li {
	list-style: none;
	display: inline-block;
}

.blink {
  animation: blinker 1s linear infinite;
	font-size: 16px;
}

.restart {
	padding: 10px;
	cursor: pointer;
	color: rgba(255, 126, 40, 0.8);
	outline: #fff;
	transition: transform .8s ease-in-out;
	font-size: 20px;
	grid-area: restart;
}

.restart:hover {
  transform: rotate(360deg);
}

/* The following slider code adapted from W3C, https://www.w3schools.com/howto/howto_js_rangeslider.asp */

#slider {
  -webkit-appearance: none;
  width: 70%;
  height: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.5;
  border-radius: 50%;
  -webkit-transition: .2s;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
}

#slider:hover {
  opacity: 1;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 126, 40, 0.8);
  cursor: pointer;
  border-radius: 50%;
}

#slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: rgba(255, 126, 40, 0.8);
  cursor: pointer;
  border-radius: 50%;
}

#volume {
	font-size: 12px;
	padding-top: 10px;
}

/* Stars: appearance when injected by JS */
.fas.fa-star,
.far.fa-star,
.fas.fa-star-half {
  font-size: 14px;
	color: rgba(255, 126, 40, 0.8);
  text-shadow: 12px 12px 12px 2px rgba(255, 255, 255, 0.7);
}

/* Deck, card, and associated interactivity styling */

.deck {
	width: 100%;
	height: 100%;
	opacity: 0.8;
	padding: 10px;
	border-radius: 4px;
	display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: 50px 50px 50px 50px;
	grid-gap: 10px;
  justify-content: center;
  align-items: center;
}

.deck .card {
	height: 50px;
	width: 50px;
	background: #fff;;
	font-size: 0;
	color: #000;
	border-radius: 5px;
	cursor: pointer;
	display: grid;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 20px 0 rgba(5, 5, 5, 0.5);
  justify-self: center;
  align-self: center;
}

.deck .card.open {
	background: rgba(95, 123, 185, 0.5);
	cursor: default;
  animation-name: reveal;
	backface-visibility: visible !important;
  animation-duration: .75s;
  animation-timing-function: cubic-bezier(0.24, 0.84, 0.25, 1);
}

.deck .card.show {
	font-size: 50px;
}

.deck .card.match {
	cursor: default;
	background: rgba(27, 175, 57, 0.85);
	font-size: 50px;

/* "Jump," from https://codepen.io/w3core/pen/ZbJeXm?editors=0110 */
}

.deck .card.match-animation {
  animation: jump .5s ease-in-out alternate 1;
	backface-visibility: visible !important;
}

.deck .card.unmatched {
  animation-name: shake;
	backface-visibility: visible !important;
  animation-duration: .5s;
	background: rgba(200, 35, 35, 0.88);
}

.deck .card.disabled {
	pointer-events: none;
}

.celebrate-ninja {
  animation: win-ninja .5s ease-in-out alternate infinite;
	z-index: 10000;
}

.celebrate-frog {
	animation: win-frog .5s ease-in-out alternate infinite;
	z-index: 10000;
}

.celebrate-poo {
	animation: win-poo .5s ease-in-out alternate infinite;
	z-index: 10000;
}

.celebrate-glasses {
	animation: win-glasses .5s ease-in-out alternate infinite;
	z-index: 10000;
}

.celebrate-dice {
	animation: win-dice .5s ease-in-out alternate infinite;
	z-index: 10000;
}

.celebrate-agent {
	animation: win-agent .5s ease-in-out alternate infinite;
	z-index: 10000;
}

.celebrate-game {
	animation: win-game .5s ease-in-out alternate infinite;
	z-index: 10000;
}

.celebrate-eye {
	animation: win-eye .5s ease-in-out alternate infinite;
	z-index: 10000;
}

/*
 * Styles for the gameOver window
 */

.overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.8);
	transition: opacity 1000ms ease;
}

.results {
	margin: 70px auto;
	padding: 20px;
	background: #fff;
	top: 15%;
	left: 50%;
	width: 95%;
	max-width: 450px;
	position: absolute;
	transition: all 5s cubic-bezier(.42, 0, 1, 1);
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 3px rgba(244, 124, 34, 0.7);
	border-radius: 2%;
}

h2 {
	text-align: center;
	color: #333;
}

.results .assessment {
	max-height: 30%;
	overflow: auto;
	text-align: center;
}

.rating li {
	display: inline-block;
}

.new-game {
	background: rgba(255, 126, 40, 0.8);
	padding: 12px;
	font-size: 16px;
	display: block;
	margin: 0 auto;
	width: 75%;
	max-width: 140px;
	color: #fff;
	font-family: inherit;
}

/* Animation effects for card reveals, jumps, shakes, wins, and blinking moves text. */

@keyframes reveal {
	from {
    transform: rotateY(0);
    transform: rotateX(0);
    animation-timing-function: ease-out;
		width: 30%;
		height: 30%;
		border-radius: 40%;
		opacity: 0;
	}
	40% {
    transform: rotateY(90deg);
    transform: rotateX(-90deg);
		width: 80%;
		height: 80%;
		border-radius: 60%;
		opacity: 0.25;
	}
	60% {
    transform: rotateY(0);
    transform: rotateX(0);
		width: 120%;
		height: 120%;
		border-radius: 20%;
		opacity: 1;
	}
	80% {
    transform: rotateY(-90deg);
    transform: rotateX(90deg);
		width: 150%;
		height: 150%;
		border-radius: 30%;
	}
	to {
    transform: rotateY(0);
    transform: rotateX(0);
		width: 100%;
		height: 100%;
	}
}

@keyframes jump {
	0% {
    transform: scale3d(1, 1, 1) rotateY(45deg);
	}
	40% {
    transform: scale3d(1.3, 1.3, 1.3) rotateY(-45deg);
	}
	100% {
    transform: scale3d(1, 1, 1);
	}
}

/* CSS Shake animation adapted from W3C's "How to Shake an Image" at https://www.w3schools.com/howto/howto_css_shake_image.asp */

@keyframes shake {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}
	10% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}
	20% {
		transform: translate(-3px, 0px) rotate(1deg);
	}
	30% {
		transform: translate(3px, 2px) rotate(0deg);
	}
	40% {
		transform: translate(1px, -1px) rotate(1deg);
	}
	50% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}
	60% {
		transform: translate(-3px, 1px) rotate(0deg);
	}
	70% {
		transform: translate(3px, 1px) rotate(-1deg);
	}
	80% {
		transform: translate(-1px, -1px) rotate(1deg);
	}
	90% {
		transform: translate(1px, 2px) rotate(0deg);
	}
	100% {
		transform: translate(1px, -2px) rotate(-1deg);
	}
}

/* The following CSS3 Jump animation adapted from https://codepen.io/w3core/pen/ZbJeXm?editors=0110 */

@keyframes win-frog {
	0% {
		transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
	}
  40% {
		transform: translate3d(0, -50%, 0) scale3d(.7, 1.5, 1);
	}
  100% {
		transform: translate3d(0, -100%, 0) scale3d(1.5, .7, 1);
	}
}

@keyframes win-glasses {
	0% {
		transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
	}
  25% {
		transform: translate3d(30px, 0, 0) scale3d(.8, 1.1, 1);
	}
	50% {
		transform: translate3d(-30px, 0, 0) scale3d(.8, 1.1, 1);
	}
	75% {
		transform: translate3d(30px, 0, 0) scale3d(.8, 1.1, 1);
	}
  100% {
		transform: translate3d(-30px, 0, 0) scale3d(1.1, .8, 1);
	}
}

@keyframes win-poo {
	0% {
		transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
	}
  40% {
		transform: translate3d(0, -5%, 0) scale3d(.8, .5, 1);
	}
  100% {
		transform: translate3d(0, -10%, 0) scale3d(.6, .3, 1);
	}
}

@keyframes win-dice {
	0% {
		transform: translate3d(0, 0, 0) rotateZ(0);
	}
  50% {
		transform: translate3d(0, -20%, 0) rotateZ(180deg);
	}
  100% {
		transform: translate3d(0, -40%, 0) rotateZ(360deg);
	}
}

@keyframes win-agent {
	0% {
		transform: rotateY(0);
	}
  100% {
		transform: rotateY(180deg);
	}
}

@keyframes win-ninja {
	0% {
		transform: translate3d(0, 0, 0);
	}
  50% {
		transform: translate3d(50%, 0, 0);
	}
	75% {
		transform: translate3d(-50%, 0, 0) rotateY(0);
	}
  100% {
		transform: translate3d(0, -100%, 0) rotateY(-180deg);
	}
}

@keyframes win-game {
	0% {
		transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
	}
  40% {
		transform: translate3d(0, -10%, 0) scale3d(.4, 1.7, 1);
	}
  100% {
		transform: translate3d(0, -40%, 0) scale3d(1.7, .4, 1);
	}
}

@keyframes win-eye {
	0% {
		transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
	}
  25% {
		transform: translate3d(-50px, 0, 0) scale3d(.8, 1.5, 1);
	}
	50% {
		transform: translate3d(0, 0, 0) scale3d(.8, 1.5, 1);
	}
	75% {
		transform: translate3d(50px, 0, 0) scale3d(.8, 1.5, 1);
	}
  100% {
		transform: translate3d(0, 0, 0) scale3d(1.5, .8, 1);
	}
}

@keyframes blinker {
	from {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/****** Media queries
***************************/

@media screen and (min-width: 320px) {
	.clock {
		font-size: 18px;
	}

	.blink,
	.moves {
		font-size: 18px;
	}
	.restart {
		font-size: 22px;
	}

	.fas.fa-star
	.far.fa-star,
	.fas.fa-star-half {
	  font-size: 18px;
	}

	.deck {
		width: 95%;
		height: 95%;
		grid-template-columns: 65px 65px 65px 65px;
		grid-template-rows: 65px 65px 65px 65px;
	}

	.deck .card {
		width: 65px;
		height: 65px;
	}

	.deck .card.show,
	.deck .card.match {
		font-size: 45px;
	}
}

@media screen and (min-width: 520px) {

	h1 {
		font-size: 32px;
	}

	.score-panel {
		width: 90%;
		height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "stars moves clock restart volume";
	}

	.fas.fa-star,
	.far.fa-star,
	.fas.fa-star-half {
		font-size: 22px;
	}

	.clock {
		font-size: 22px;
	}

	.blink,
	.moves {
		font-size: 16px;
	}
	.restart {
		font-size: 24px;
	}

	#slider {
	  width: 100px;
	}

	.deck {
		width: 98%;
    grid-template-columns: 90px 90px 90px 90px;
    grid-template-rows: 90px 90px 90px 90px;
	}

	.deck .card {
		height: 90px;
		width: 90px;
	}

	.deck .card.show,
	.deck .card.match {
		font-size: 75px;
	}
}

@media screen and (min-width: 767px) {
  body {
    width: 767px;
		height: 100%;
    margin: 0 auto;
  }

	h1 {
		font-size: 42px;
	}

	.fas.fa-star,
	.far.fa-star,
	.fas.fa-star-half {
		font-size: 26px;
	}

	.clock {
		font-size: 26px;
	}

	.blink,
	.moves {
		font-size: 24px;
	}
	.restart {
		font-size: 28px;
	}

	#slider {
	  width: 120px;
	}

	.deck {
		width: 100%;
		height: 100%;
		grid-template-columns: 20% 20% 20% 20%;
		grid-template-rows: 20% 20% 20% 20%;
	}

	.deck .card {
		width: 140px;
		height: 140px;
	}

	.deck .card.show,
	.deck .card.match {
		font-size: 90px;
	}
}
